<h2 class="ui center aligned icon header">
  <i class="circular orange coffee icon"></i>
  Message Me App
</h2>


<div class="ui two column grid">
<div class="eleven wide column ui fluid raised card chatbox" >
<div class="content">

<div class="ui feed">
<% @chatrooms.each do |c|%>
   <div class="event">
    <div class="content">
      <div class="summary">
        <a><%= c.profile.username%></a> 
        <div class="date">
          <%= c.created_at.strftime("%B %d, %Y at %I:%M %p")%>
        </div> 
      </div>
      <div class="extra text">
        <%= simple_format(c.body) %>
      </div>
    </div>
  </div>
  <%end%>

  
</div>


</div>
 <div class="extra content">
    <form action="" class="ui reply form">
      <div class="field">
        <div class="ui fluid icon input">
        <input type="text" placeholder="Type your message here...">
        <i class="bordered inverted orange edit icon"></i></div>
        </div>
    </form>
    </div>
</div>



<div class="four wide column ui fluid raised card active-users">
<div class="content">
<div class="header">Active Users</div>
<div class="ui inverted vertical pointing menu">
  <a class="active item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
</div>
</div>
</div>
</div>