<h2 class="ui center aligned icon header">
  <i class="circular orange coffee icon"></i>
  Message Me App
</h2>


<div class="ui two column grid">
<div class="eleven wide column ui fluid raised card chatbox" >
<div class="content">

<div class="ui feed">
   <div class="event">
    <div class="content">
      <div class="summary">
        <a>Joe Henderson</a> posted on his page
        <div class="date">
          3 days ago
        </div>
      </div>
      <div class="extra text">
        Ours is a life of constant reruns. Were always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
      </div>
    </div>
  </div>

  <div class="event">
    <div class="content">
      <div class="summary">
        <a>Joe Henderson</a> posted on his page
        <div class="date">
          3 days ago
        </div>
      </div>
      <div class="extra text">
        Ours is a life of constant reruns. Were always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
      </div>
    </div>
  </div>

  <div class="event">
    <div class="content">
      <div class="summary">
        <a>Joe Henderson</a> posted on his page
        <div class="date">
          3 days ago
        </div>
      </div>
      <div class="extra text">
        Ours is a life of constant reruns. Were always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
      </div>
    </div>
  </div>
  
</div>


</div>
 <div class="extra content">
    <form action="" class="ui reply form">
      <div class="field">
        <div class="ui fluid icon input">
        <input type="text" placeholder="Type your message here...">
        <i class="bordered inverted orange edit icon"></i></div>
        </div>
    </form>
    </div>
</div>



<div class="four wide column ui fluid raised card active-users">
<div class="content">
<div class="header">Active Users</div>
<div class="ui inverted vertical pointing menu">
  <a class="active item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
</div>
</div>
</div>
</div>