
.chatbox{
   height: 450px;
   margin-top: 40px !important;
}

.active-users{
   height: 450px;
   margin-top: 40px !important;
   padding-left: 20px !important;
   margin-left: 25px !important;
}

.chatbox {
  display: flex;
  flex-direction: column;
  height: 500px; /* Adjust as needed */
}

#messages-container {
  flex: 1;
  overflow-y: scroll;
}

.extra.content {
  position: relative;
}

